.error {
    background: var(--back1-color);
    width: 100vw;
    min-height: calc(100vh - 112px);
    transition: all .3s;

    h1 {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: max-content;
        height: max-content;
        color: var(--text1-color);

        transition: all .3s;

    }
}