.Home {
  position: relative;
  min-height: calc(100vh - 110px);
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;

  .center {
    /*position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;*/

    position: relative;
    top: calc(50vh - 80px);
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;

    height: -webkit-max-content;
    height: -moz-max-content;
    height: max-content;
    margin: auto;



    .flex {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;

      h1 {
        font-size: 120px;
        margin-right: 80px;
        color: var(--color);
        letter-spacing: 15px;
        font-family: 'Annie Use Your Telescope';
        font-family: 'Rampart One', cursive;


        >span {
          display: block;
          cursor: pointer;
          will-change: transform;


          >span {
            width: 20%;
            -webkit-transition: all 1s;
            -o-transition: all 1s;
            transition: all 1s;
          }


          /*&:active>span {
            width: 0;
          }*/

        }

        .nickname {
          /*color: #fff;
        text-shadow: 2px 0 var(--color), -2px 0 var(--color), 0 2px var(--color),
          0 -2px var(--color), 1px 1px var(--color), -1px -1px var(--color), 1px -1px var(--color),
          -1px 1px var(--color);
        -webkit-text-stroke: 3px var(--color);*/
          letter-spacing: 25px;
        }
      }
    }

    img {
      width: 400px;
      height: 400px;
      margin-top: 30px;
      border-radius: 50%;
      border: 7px solid var(--color);

      cursor: pointer;

      will-change: transform;

    }

    .btnCV {
      display: block;
      height: -webkit-max-content;
      height: -moz-max-content;
      width: -webkit-max-content;
      width: -moz-max-content;
      width: max-content;
      margin: auto;
      margin-top: 30px;
      background: var(--color);
      font-family: Akaya Kanadaka;
      font-size: 35px;
      text-decoration: none;
      background-color: var(--back1-color);
      color: var(--color);
      border: 5px solid var(--color);
      padding: 25px;
      padding-left: 50px;
      padding-right: 50px;
      border-radius: 20px;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s;
      box-shadow: 13px 13px 0px var(--color);
      -webkit-box-shadow: 13px 13px 0px var(--color);

      &:hover {
        background-color: var(--color);
        color: #fff;
        /*-webkit-box-shadow: 0 0 50px #fff;
        box-shadow: 0 0 50px #fff;*/
        -webkit-box-shadow: 0px 0px 0px var(--color);
        box-shadow: 0px 0px 0px var(--color);
        -webkit-transform: translate(13px, 13px) !important;
        -ms-transform: translate(13px, 13px) !important;
        transform: translate(13px, 13px) !important;

      }
    }
  }
}


@media (max-width: 1150px) {
  .Home .center .flex h1 {
    margin-right: 10px;
  }
}

@media (max-width: 1100px) {
  .Home {
    min-height: calc(100vh - 90px);

    .center {
      .flex h1 {
        font-size: 11vh;
      }

      img {
        width: 350px;
        height: 350px;
      }
    }
  }
}

@media (min-width: 900px) {
  .Home {

    .center {
      h1 {
        text-shadow: 0 0 30px #00000025;
      }

      img {
        -webkit-box-shadow: 0 0 30px rgba(0, 0, 0, 0.448);
        box-shadow: 0 0 30px rgba(0, 0, 0, 0.448);
      }

      /*.btnCV {
        -webkit-box-shadow: 0 0 50px var(--color);
        box-shadow: 0 0 50px var(--color);

        &:hover {
          -webkit-box-shadow: 0 0 50px #fff;
          box-shadow: 0 0 50px #fff;

        }
      }*/
    }
  }
}

@media (max-width: 900px) {
  .Home {
    //min-height: calc(100vh - 102px);

    .center {
      top: calc(50vh - 60px);
      position: relative;
      margin-bottom: 20px;

      .flex {
        top: -30px;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1;
        grid-template-columns: 1;

        h1 {
          font-size: 11vh;
          margin: auto;
        }

        img {
          margin: auto;
          width: 30vh;
          height: 30vh;
          -ms-grid-row: 1;
          grid-row: 1;
          margin-bottom: 5vh;
          -webkit-box-shadow: 0 0 10px #00000064;
          box-shadow: 0 0 10px #00000064;

        }

        /*.btnCV {
          -webkit-box-shadow: 0 0 10px #000c;
          box-shadow: 0 0 10px #000c;
        }*/


      }
    }
  }
}

@media (max-width: 500px) {
  .Home {
    .center {
      .flex {
        h1 {
          font-size: 12vw;
        }



      }

      .btnCV {
        font-size: 30px;
        padding: 30px;
      }
    }
  }
}

@media (max-height: 900px) {
  .Home {
    .center {
      top: calc(50vh - 50px);
      top: auto;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
  }
}

/*
@media (max-height: 700px) {
  .Home {
    .center {
      top: calc(50vh - 70px);
    }
  }
}

@media (max-height: 500px) {
  .Home {
    .center {
      top: calc(50vh - 80px);
    }
  }
}*/