footer {
    display: flex;
    flex-direction: column;
    height: 150px;

    color: var(--text1-color);

    text-align: center;

    font-family: 'Poppins', sans-serif;

    h1 {
        font-size: 25px;
    }

    img {
        position: relative;
        top: 10px;
        height: 40px;
    }

    a {
        color: var(--text1-color);
    }
}