$color: #2749de;
$color2: #5271ff;
$black: #000;
$greyblack: #0007;
$greyblack2: #0003;
$grey: #333;
$otherWhiteBG :#ffffff75;
$otherBackBG :#00000009;
$white: #fff;

:root {
    --color: #{$color2};
}

@mixin light-mode {
    --back1-color:#{$white};
    --back2-color:#{$greyblack};
    --back2p5-color:#{$white};
    --back3-color:#{$otherWhiteBG};
    --back4-color:#{$greyblack2};
    --text1-color:#{$black};
    --text2-color:#{$grey};
}

@mixin dark-mode {
    --back1-color:#{$black};
    --back2-color:#{$grey};
    --back2p5-color:#{$grey};
    --back3-color:#{$otherBackBG};
    --back4-color:#{$grey};

    --text1-color:#{$white};
    --text2-color:#{$white};
}

body {
    @include light-mode;

    &.dark-mode {
        @include dark-mode;
    }
}


/*@media (prefers-colors-scheme: dark) {
    body {
        //@include dark-mode;
    }
}*/