@import '../../color.scss';

.unProjet {
    position: relative;
    z-index: 10;
    inset: 0;

    height: 100vh;
    width: 100vw;

    display: -webkit-box;

    display: -ms-flexbox;

    display: flex;

    background: var(--back1-color);
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s;
    //transform: translate(0, -110px);

    font-family: "Poppins", sans-serif;
    text-align: center;
    color: var(--text1-color);

    .general {
        width: 25%;
        height: 90%;
        margin: auto;

        border-radius: 30px;

        -webkit-box-shadow: 0 0 20px var(--back4-color);

        box-shadow: 0 0 20px var(--back4-color);

        .back {
            position: relative;
            left: 0;
            right: 0;

            display: -webkit-box;

            display: -ms-flexbox;

            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;

            width: -webkit-max-content;

            width: -moz-max-content;

            width: max-content;

            text-decoration: none;
            background: $color;
            color: var(--back1-color);
            padding: 0px 20px 10px 20px;

            margin: 20px auto 0 auto;

            color: #fff;

            border-radius: 10px;
            overflow: hidden;

            cursor: pointer;

            -webkit-transition: all 0.3s;

            -o-transition: all 0.3s;

            transition: all 0.3s;

            &:hover {
                -webkit-transform: scale(1.1);
                -ms-transform: scale(1.1);
                transform: scale(1.1);
            }

            img,
            svg {
                margin-top: 2px;
                margin-bottom: 10px;
                height: 25px;
                -webkit-transform: translate(0, 7px) rotate(180deg);
                -ms-transform: translate(0, 7px) rotate(180deg);
                transform: translate(0, 7px) rotate(180deg);
                -webkit-transition: all 0.3s;
                -o-transition: all 0.3s;
                transition: all 0.3s;
            }
        }

        h1 {
            border-bottom: 2px solid #2749de;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            max-width: 100%;
            margin: 30px auto;
        }

        >img,
        >svg {
            border-radius: 15px;

            max-width: calc(100% - 20px);
            max-height: 30%;
        }

        .detail {
            img {
                height: 50px;
                margin: 5px;
            }

            h4 {
                margin-top: 15px;
            }

            ul {
                list-style: none;
                margin: 0;
                padding: 0;

                li a {
                    display: inline-flex;
                    max-width: 80%;

                    margin: auto;

                    text-overflow: clip;
                    overflow: hidden;
                    color: rgb(0, 102, 204);
                }
            }
        }

    }

    .autre {
        width: 75%;
        //max-width: 75vw;
        height: 100%;
        //margin: auto;

        //padding: 1% 0;

        overflow: auto;

        >h2 {
            font-size: 25px;
            border-bottom: 2px solid $color;
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            margin: 40px auto;
            padding: 0 10px;

            &:first-child {
                margin-top: 50px;
            }
        }

        p,
        ul {
            width: 70%;


            font-size: 18px;

            margin: auto;
        }

        p.note {
            width: max-content;
            max-width: calc(100% - 50px);

            margin-top: 40px;
            padding: 10px;
            border-radius: 20px;

            box-shadow: 0 0 5px var(--back4-color);


            h2 {
                font-size: 20px;
                border-bottom: 2px solid $color;
                width: -webkit-max-content;
                width: -moz-max-content;
                width: max-content;
                margin: 10px auto;
                padding: 0 10px;
            }
        }

        ul {
            width: -webkit-max-content;
            width: -moz-max-content;
            width: max-content;
            max-width: 70%;

            text-align: left;
        }

        .Diapo {
            background: #000;
        }

        .Diapo,
        .Diapo .control,
        .Diapo .medias {
            width: var(--with);
            max-width: calc(65vw - 100px);
            //height: var(--height);
            height: calc(var(--with) * 0.600);
            max-height: calc(65vw * 0.480);

            font-family: 'Line Awesome Free';
            font-weight: 900;

        }

        .Diapo.portrait,
        .Diapo.portrait .control,
        .Diapo.portrait .medias {
            width: calc(var(--with)/1.7);
            max-width: calc(75vw - 80px);
            //height: var(--height);
            height: calc(var(--with) * 4);
            max-height: calc(85vw * 0.480);
        }

        .Diapo {
            position: relative;
            overflow: hidden;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            border-radius: 20px;
            margin: auto;
            margin-top: 10px;
            margin-bottom: 70px;
            //padding-bottom: 50px;
            -webkit-box-shadow: 0px 0 30px var(--back2-color);
            box-shadow: 0px 0 30px var(--back2-color);

            .medias {
                display: -webkit-box;
                display: -ms-flexbox;
                display: flex;
                text-align: center;
                width: auto;
                overflow: hidden;

                .media {
                    min-width: 100%;
                    max-width: 100%;
                    height: 100%;
                    overflow: hidden;

                    img,
                    video {
                        position: relative;
                        z-index: 2;
                        /*flex: 1 0 100%;*/
                        margin: auto;
                        max-width: 100%;
                        top: 50%;
                        transform: translate(0, -50%);
                        max-height: 100%;
                    }

                    video {
                        background: #000;
                        max-width: 100%;
                    }
                }
            }

            .control {
                position: absolute;

                button {
                    position: absolute;
                    z-index: 10;

                    height: 50px;
                    width: 20px;
                    top: 50%;
                    left: 5px;
                    -webkit-transform: translateY(-50%);
                    -ms-transform: translateY(-50%);
                    transform: translateY(-50%);
                    background: $color;
                    color: #fff;
                    border: 0;
                    padding: 0;
                    cursor: pointer;
                    border-radius: 30px;
                    -webkit-transition: all .3s;
                    -o-transition: all .3s;
                    transition: all .3s;
                    font-size: 1em;

                    &:hover {
                        width: 60px;
                        height: 60px;
                        font-size: 1.65em;
                    }

                    &#gauche::before {
                        content: "\f053";
                    }

                    &#droite {
                        left: auto;
                        right: 5px;
                    }

                    &#droite::before {
                        content: "\f054";
                    }
                }

                span {
                    position: absolute;
                    z-index: 10;
                    bottom: 5px;
                    left: 0;
                    right: 0;
                    margin: auto;
                    width: 50px;
                    height: 30px;
                    border-radius: 30px;
                    background: #000;
                    color: #fff;
                    text-align: center;
                    font-size: 20px;
                }
            }
        }
    }
}

@media (max-width: 900px) {
    .unProjet {
        height: -webkit-max-content;
        height: -moz-max-content;
        height: max-content;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;

        .general,
        .autre {
            width: 100%;
            height: -webkit-max-content;
            height: -moz-max-content;
            height: max-content;
        }

        .general {
            margin-top: 20px;
            width: calc(100% - 50px);
            padding-bottom: 40px;


            >img,
            >svg {
                width: 80%;
            }
        }

        .autre {
            overflow: visible;

            .Diapo,
            .Diapo .control,
            .Diapo .medias {
                width: 100vw;
                max-width: calc(100vw - 80px);
                //height: var(--height);
                aspect-ratio: 16/10;
                height: auto;
                //max-height: calc(100% * 0.67073170731707317073170731707317);
                max-height: none;
            }


            .Diapo.portrait,
            .Diapo.portrait .control,
            .Diapo.portrait .medias {
                width: 100vw;
                max-width: calc(100vw - 80px);
                aspect-ratio: none;
                height: calc(var(--with) * 4);
                max-height: calc(75vw * 2);
            }
        }
    }
}